{% extends 'Home/base.html'%}
{% block title %}import{% endblock %}
{% block body %}
 
<div class="img-container">
    <h1>Compress Image</h1>
    <form action="{% url 'image_compressions' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="form-group">
            <label for="image-file">Upload an Image*</label>
            <input type="file" name="image_file" required>
            <label for="Quality">Quality</label>
            <select name="Quality" class="form-control" required>
                <option value="" disabled selected>Select</option>
                {% for choices in quality_choices %}
                <option value="{{choices}}">{{choices}}</option>
                {% endfor %}
            </select>

        </div>
        <button class="compress-button">Compress</button>
    </form>
    {% if messages %}
        <div class="messages"  style="color: rgb(0, 0, 0); text-align: center;">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" id="messages">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
</div>
<script>
    const successMessage = document.querySelector('.alert');
    if (successMessage) {
        // If a success message exists, delay the fade-out by 3 seconds
        setTimeout(function() {
            let opacity = 1; // Initial opacity
            const fadeInterval = setInterval(function() {
                if (opacity <= 0) {
                    clearInterval(fadeInterval);
                    successMessage.style.display = 'none'; // Hide the element after fading out
                }
                else {
                    opacity -= 0.05; // Decrease opacity gradually
                    successMessage.style.opacity = opacity;
                }
            }, 50); // Interval for gradual fade-out
        }, 3000); // Wait for 3 seconds before starting the fade-out
    }
</script>


{% endblock %}