{% extends 'Home/base.html'%}
{% block title %}import{% endblock %}
{% block body %}
<div id="export-container">
    <h1>Export Data To DataBase Table </h1>
    <form action="{% url 'Export' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="form-group">
            <label for="model_name">Select DataBase Table</label>
            <select name="model_name" class="form-control" required>
                <option value="" disabled selected>Select</option>
                {% for allmodel in allmodels %}
                <option value="{{allmodel}}">{{allmodel}}</option>
                {% endfor %}
            </select>
        </div>
        <button class="emport-button">Export Data </button>

    </form>
    {% if messages %}
    <div class="messages" style="color: rgba(247, 14, 14, 0.877); text-align: center;">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" id="messages">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

<script>
    const successMessage = document.querySelector('.alert');
    if (successMessage) {
        // If a success message exists, delay the fade-out by 3 seconds
        setTimeout(function () {
            let opacity = 1; // Initial opacity
            const fadeInterval = setInterval(function () {
                if (opacity <= 0) {
                    clearInterval(fadeInterval);
                    successMessage.style.display = 'none'; // Hide the element after fading out
                }
                else {
                    opacity -= 0.05; // Decrease opacity gradually
                    successMessage.style.opacity = opacity;
                }
            }, 50); // Interval for gradual fade-out
        }, 3000); // Wait for 3 seconds before starting the fade-out
    }
</script>
{% endblock %}